  .section {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .section-2 {
    flex-wrap: wrap;           
    justify-content: center;
  }
  .item-1,.item-2,.item-3,.item-4 {
    width: 45%;                
    margin: 10px;
  }
  .marks {
    margin: 40px;           
  }
  h1 {
    font-size: 32px;
  }

@media (min-width: 481px) and (max-width: 768px) {
  .link {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .link {
    display: none;
  }
}

.section {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.left {
  padding: 5px;
  width: 50%;
  height: 700px;
  border: 1px solid black;
  background-color: rgb(249, 250, 215);
}

.left img {
  padding: 35px;
}

.right img {
  padding: 30px;
}

.right {
  padding: 5px;
  width: 50%;
  height: 700px;
  border: 1px solid black;
  background-color: rgb(249, 250, 215);
}

button {
  background-color: rgb(255, 242, 165);
  border: 1px solid black;
  /* width: 80px; */
  font-weight: bold;
  /* padding: 10px; */
  align-items: center;
}
