/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 
  */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-radius: 10px;
  background-color: rgb(255, 242, 165);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
  /* padding: 0px 20px;
  margin-right: 10px; */
  /* flex: 1; */
} 

.logo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
}

.link {
  gap: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  width: 40%;
  font-size: 18px;
  font-weight: bold;
}

.menubar {
  display: none;
  /* border: 2px solid black; */
}

.bar1 {
  width: 35px;
  height: 5px;
  margin-bottom: 2px;
  background-color: black;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .menubar {
    display: block;
    /* border: 2px solid black; */
    width: 20px;
    gap: 10px;
  }

  .link {
    display: none;
  }

  .navbar:has(.menubar:hover) .link {
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 75px;
    right: 15px;
    flex-direction: column;
    width: 15%;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .section-2 {
    flex-wrap: wrap;           
    justify-content: center;
  }
  .item-1,.item-2,.item-3,.item-4 {
    width: 45%;                
    margin: 10px;
  }
  .marks {
    margin: 40px;           
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .link {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .link {
    display: none;
  }
}

.section {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.left {
  padding: 5px;
  width: 50%;
  height: 700px;
  border: 1px solid black;
  background-color: rgb(249, 250, 215);
}

.left img {
  padding: 35px;
}

.right img {
  padding: 30px;
}

.right {
  padding: 5px;
  width: 50%;
  height: 700px;
  border: 1px solid black;
  background-color: rgb(249, 250, 215);
}

button {
  background-color: rgb(255, 242, 165);
  border: 1px solid black;
  /* width: 80px; */
  font-weight: bold;
  /* padding: 10px; */
  align-items: center;
}

/*                                         FOR SUPERWARS SECTION                                 */

.section-2{
  display: flex;
        justify-content: center;
        flex-direction: row;
}
.item-1 {
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.item-2 {
  padding: 20px;
  margin: 10px;
   text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.item-3 {
  padding: 20px;
  margin: 10px;
   text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.item-4 {
  padding: 20px;
  margin: 10px;
   text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.marks {
  background-color: white;
  justify-content: space-around;
  margin: 100px;
}
h1{
  font-size: 40px;
}

/*                                     FOR  CALCULATOR                                       */

.section3{
  display: flex;
  justify-content: center;
  background-color: #353535;
  padding: 30px;
}
.calculator {
  width: 320px;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 25px;
  align-content: center;
}
.display {
  color: white;
  font-size: 64px;
  text-align: right;
  margin-bottom: 20px;
  padding-right: 10px;
  overflow: hidden;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 80px; */
  gap: 12px;
}
.gray {
  background: #a5a5a5;
  color: #000;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
}

.dark {
  background: #333;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
}
.dark_zero{
  background: #333;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  display: grid;
  grid-auto-rows: 1/3;
  font-size: 24px;
}
.orange {
  background: #ff9f0a;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
  text-align: left;
  padding-left: 25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
} 
/*                                   SECTION IMAGE GALLERY                                                */

/* section{
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3,200px);
  grid-template-rows: repeat(3,200px);
  gap: 5px 5px;
  justify-content: center;
  margin: auto;
}
section img{
  width: 200px;
  height: 200px;
}*/
.haha{
    display: grid;
    height: auto;
    width:80%;
    gap:5px 5px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
}
.haha img{
    height: 200px;
    width: 200px;
}
.img1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.img2{
   grid-column: 2/3;
    grid-row: 1/2;
}
.img2 img{
 height: 410px;
    width: 200px;
}
.img3{
    grid-column: 3/4;
    grid-row: 1/2;
}
.img4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.img5{
    grid-column: 3/4;
    grid-row: 2/3;
}
.img6{
    grid-column: 1/2;
    grid-row: 3/4;
}
.img7{
    width:400px;
    grid-column: 2/4;
    grid-row: 3/4;
}
.img7 img{
    width: 410px;
}

