
*{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 235, 235);
  color: black;
}

p{
  background-color: rgb(252, 211, 211);
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100px;
  height: 20px;
  border: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: rgb(241, 182, 182);
}