.single-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
*{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 235, 235);
  color: black;
}

.box{
  background-color: rgb(252, 211, 211);
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100px;
  height: 30px;
  border: none;
}
button{
 font-weight: bold;
 background-color: rgb(241, 183, 183);
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
  gap: 30px;
  width: 100px;
  height: 30px;
  border: none;
}