*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-radius: 10px;
  background-color: rgb(255, 242, 165);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
}

.link {
  gap: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  width: 40%;
  font-size: 18px;
  font-weight: bold;
}

.menubar {
  display: none;
  /* border: 2px solid black; */
}

.bar1 {
  width: 35px;
  height: 5px;
  margin-bottom: 2px;
  background-color: black;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .menubar {
    display: block;
    /* border: 2px solid black; */
    width: 20px;
    gap: 10px;
  }

  .link {
    display: none;
  }

  .navbar:has(.menubar:hover) .link {
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 75px;
    right: 15px;
    flex-direction: column;
    width: 15%;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .section-2 {
    flex-wrap: wrap;           
    justify-content: center;
  }
  .item-1,.item-2,.item-3,.item-4 {
    width: 45%;                
    margin: 10px;
  }
  .marks {
    margin: 40px;           
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .link {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .link {
    display: none;
  }
}
